<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>Meu Portfólio</title>
</head>
    <header>
        <!-- NAVBAR - Menu -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-preto fixed-top">
            <div class="container">
                <a class="navbar-brand mx-auto" href="/">
                    <i class="fa-solid fa-code icon-hover"></i>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link menu-text" href="#sobre">Sobre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-text" href="#skills">Habilidades</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-text" href="#projects">Projetos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-text" href="#contacts">Contatos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <body>
        <!-- Sobre -->
        <section id="sobre" class="js-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 mt-3 mb-5"> 
                        <div class="title">
                            <h1><%= about.name %></h1>
                            <span><%= about.title %></span>
                            <p><%= about.detail %></p>
                        </div>
                        
                        <a href="#" class="btn btn-warning rounded-pill me-3">Download CV</a>
                        <a href="<%= about.email %>" class="btn btn-outline-warning rounded-pill">Entrar em contato</a>
                    </div>
                    <div class="col-md-3 mt-3"> 
                        <div class="profile">
                            <a href="#" target="_blank">
                                <img src="dhavi-fischer.png" alt="dhavi-fischer">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-5">
                        <div class="about">
                            <h2 class="text-center mb-4"><%= about.aboutme %></h2>
                            <p class="text-center"><%= about.description %></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Habilidades -->
        <section id="skills" class="js-section">
            <div class="skills">
              <div class="container">
                <h2 class="text-center">Habilidades</h2>
                <div class="row">
                  <% for (const skill of skills) { %>
                  <div class="col-md-2">
                    <div class="card text-center text-warning">
                      <p><%= skill.name %></p>
                      <i class="fa-brands <%= skill.icon %> fa-3x mb-2"></i>
                    </div>
                  </div>
                  <% } %>
                </div>
              </div>
            </div>
        </section>
        
        <!-- Projetos -->
        <section id="projects" class="js-section">
            <div class="container">
                <h2 class="text-center mb-5">Projetos</h2>
                <div class="allprojects">
                    <div class="row">
                        <% for (const project of projects) { %>
                            <div class="col-md-4">
                                <div class="card-project" data-bs-toggle="modal" data-bs-target="#<%= project.id %>Modal">
                                    <img src="<%= project.image %>" alt="<%= project.title %>">
                                    <div class="overlay">
                                        <h3><%= project.title %></h3>
                                        <div class="icons">
                                            <% for (const technology of project.technologies) { %>
                                                <i class="fa-brands fa-<%= technology.toLowerCase() %> fa-xl mt-3 ms-2"></i>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </section>  

        <!-- Contato -->
        <section id="contacts" class="js-section">
            <div class="contacts">
              <div class="container">
                <h2 class="text-center mb-4">Contatos</h2>
                <div class="row">
                  <% for (const contact of contacts) { %>
                  <div class="col-md-4">
                    <div class="icon">
                      <a href="<%= contact.link %>" target="_blank">
                        <i class="fab <%= contact.icon %> fa-2x text-warning"></i>
                      </a>
                      <p class="text-center"><%= contact.text %></p>
                    </div>
                  </div>
                  <% } %>
                </div>
              </div>
            </div>
        </section>

        <!-- Modal -->
        <% for (const projectModal of projectsModals) { %>
            <div class="modal fade custom-modal" id="<%= projectModal.id %>" tabindex="-1" aria-labelledby="<%= projectModal.id %>Label" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title text-warning" id="<%= projectModal.id %>Label"><%= projectModal.title %></h5>
                    <button type="button" class="btn-close bg-warning" data-bs-dismiss="modal" aria-label="Fechar"></button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-6">
                        <p>Descrição do projeto:</p>
                        <p><%= projectModal.description %></p>
                        <p>Technologias usadas:</p>
                        <ul>
                          <% for (const technology of projectModal.technologies) { %>
                            <li><%= technology %></li>
                          <% } %>
                        </ul>
                      </div>
                      <div class="col-md-6">
                        <img src="<%= projectModal.image %>" style="width: 100%;" alt="<%= projectModal.title %>">
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <a href="<%= projectModal.projectLink %>" class="btn btn-primary">Ir para o Projeto</a>
                    <a href="<%= projectModal.repositoryLink %>" class="btn btn-secondary">Ir para o Repositório</a>
                  </div>
                </div>
              </div>
            </div>
        <% } %>          
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>     
    </body>
</html>
